@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300);
body {
  font-family: "Alegreya Sans", sans-serif !important;
  background: radial-gradient(rgb(255, 255, 255), rgb(128, 128, 128));
}
.logo {
  background-image: url(/home/img/logo.png);
  width: 45px;
  height: 45px;
  background-size: cover;
  transition: 0.1s ease-in-out;
}
.logo:hover {
  transform: scale(1.2);
  background-image: url(/home/img/logo_hover.png);
}
#cabecera {
  position: sticky;
  z-index: 2;
  top: 0;
  background-color: rgb(237, 237, 237);
}
.logo {
  background-image: url(../img/home/logo.png);
  width: 45px;
  height: 45px;
  background-size: cover;
  transition: 0.1s ease-in-out;
}
.logo:hover {
  transform: scale(1.2);
  background-image: url(../img/home/logo_hover.png);
}
header li {
  font-size: 30px;
}
.preguntas-frecuentes {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
}
.texto {
    text-align: center;
    font-size: large;
    font-weight: bold;
}

  
footer {
    margin-top: 73px;
    background-color: rgb(237, 237, 237);
    width: 100%;
  }
